@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 
 

*{
    font-family: "Poppins", sans-serif;

    /* border: .1rem solid white; */
}



:root{
    --green-clr: #05f053;
    --gray-clr: #898989;
    --dark-blue-clr: #171c22;
}

.bg-green{
    background: var(--green-clr);
}

.bg-dark-blue{
    background: var(--dark-blue-clr);
}

.txt-green{
    color: var(--green-clr);
}

.txt-gray{
    color: var(--gray-clr);
}

li{
    list-style: none;
}
a{
    list-style: none;
    

}



ul a :hover ::after{
    color: var(--dark-blue-clr);
    
}

img{
    max-width: 100%;
    height: auto
}


.navbar{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
    background: var(--dark-blue-clr);
    height: 70px;
    
}


.navbar-logo{
    width: 70px;
    height: 70px;
    /* padding-left: 5px; */
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

}

.mybtn{
    border: .1rem solid var(--green-clr) !important;
    padding: .5rem 1.6rem;
}
.mybtn:hover{
    background: transparent;
    color: var(--green-clr) !important;
}



 .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 2.2rem;
} 
.image-container{
    width: 26rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    background-image: url(images/profile2.jpeg);
    background-position: center;
    background-size: 75%;
    box-shadow: 
    0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem var(--green-clr),
    inset 0 0 2rem var(--green-clr),
    0 0 6rem var(--green-clr),
    inset 0 0 3rem var(--green-clr)
    
}
.hero-section{
    min-height: 88vh;
    
}
h1{
    font-size: 3rem;
    font-family: "Merriweather Sans", serif;

}

p{
    font-size: .95rem;
}
.paragraph{
    max-width: 500px;
}

.main-txt{
    letter-spacing: .2rem;
    font-size: .8rem;
}
.about-me{
    width: 30rem;

    margin: 0 auto;
    margin-left: 30px;
}
/* .myimg{
       size: 200px;
} */


/* .ob img{
    border-radius: 50%;
}    */

.section-container{
    padding-block: 4rem;
}




.glow{
    position: relative;

}
.glow::before{
    content: "";
    background: var(--green-clr);
    position: absolute;
    inset: 3rem;
    border-radius: 50%;
    z-index: -1;
    filter: blur(70px);
}


.hover-card:hover{
    background-color: var(--green-clr);
    transform: scale(1.1);
    transition: transform .5s ease-in-out;


}
.hover-card:hover *{
    color: black !important;
}
.mycard{
    width: 21rem;

}
.mycard:hover{
    transform: scale(1.1);
    transition: transform .5s ease-in-out;

}
.blog-card{
    width: 21rem;
}
form{
    width: 33rem;
}
.form-control{
    border: .1rem solid var(--gray-clr);

}
.form-control:focus{
    box-shadow: none;
    border: .1rem solid var(--gray-clr);
}

#floatingTextarea{
    resize:  none;
    height: 100px;
}
.line{
    background: rgb(61, 52, 52);
    height: .1rem;
    width: 100%;
}
.profile{
    /* background: white; */
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;


    

}


.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}

.prev,
.next{
    font-size: 1.2rem;
    padding: .5rem .6rem;
    border-radius: 50%;
}





.footer1 {
    color: white;
    background-color: var(--dark-blue-clr);
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin: 0 15px;
    position: relative;
    
  }
  
  .footer1 h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  .footer1 p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  .footer1 .social-links {
    margin: 0 0 30px 0;
  }
  
  .footer1 .social-links a {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: white;
    line-height: 1;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer1 .social-links a:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
    text-decoration: none;
  }
  
  .footer1 .copyright {
    padding-top: 25px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  
  .footer1 .credits {
    font-size: 13px;
    padding-top: 5px;
  }

  .card1{
    /* width: 200px; */
    /* height: 5%; */
    margin-left: 180px;
    /* text-align: center; */
    /* border: 1px solid var(--green-clr); */
    
    
    
  }
  .card1 p{
    margin-left: 30px;
    
  }
  .card1 h5{
    margin-left: 250px;
    margin-top: 0;
  }



   h2{
    text-align: center;

  }
   .p5{
    color: azure;
    margin-left: 545px;
  }




 .card2{
    margin-left: 650px;
    width: 600px;
    height: 20px;
    display: block;
    margin-bottom: 160px;
    
 }

 .card2 h5{
    margin-left: 10px;
    margin-top: 0;
  }
  .card2 p{
    margin-left: 20px;
  }


  .p6{
    color: azure;
    margin-left: 620px;
    margin-top: 8px;
  }
  .card-body1:hover{
    /* border-radius: 1px solid red; */
    filter: blur(0.5px);
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
   

  }
  
  .card3 h5{
    margin-left: 30px;
  }
  .card4 h5{
    margin-left: 30px;
  }
  .card3 p{
    margin-left: 30px;
  }
  .card4 p{
    margin-bottom: 30px;
  }



  .card{
    border: 1px solid var(--green-clr);
    
  }





  .accordion {
    width: 750px;
    max-width: 800px;
    font-family: Arial, sans-serif;
    background: #f8f9fa;
}

.accordion-item {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.accordion-header {
    background: var(--green-clr);
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 750px;
    text-align: left;
    transition: background 0.3s;
}


.accordion-header:hover {
    background: var(--green-clr);
}

.accordion-content {
    padding: 0 15px;
    background: white;
    display: none;
    overflow: hidden;
}

.accordion-content p {
    padding: 15px 0;
    margin: 0;
}

.active {
    display: block;
}










  
  


@media screen and (max-width:575px) {



    
    
    h1{
        font-size: 2.8rem;
    }
    
    .image-container{
        width: 20rem;
    }

    .hero-section{
        min-height: 70vh;
    }
    .about-me{
        width: 18rem;
        margin-left: 80px;
    }
    form{
        width: 18rem;
    }
    .portfolio{
        max-width: 22rem;

        
    }

    
    
    






.card1{
    margin-left: 40px;
    margin-right: 10px;
    width: 400px;
    height: 3px;
    display: block;
    margin-bottom: 210px;

}
    
  
    .card2{
        margin-left: 40px;
        margin-right: 10px;
        width: 400px;
        height: 3px;
        display: block;
        margin-bottom: 210px;


    }
    .card3{
        margin-left: 40px;
        margin-right: 10px;
        width: 400px;
        height: 3px;
        display: block;
        margin-bottom: 210px;
        
       

       
    }
    .card4{
        margin-left: 40px;
        margin-right: 10px;
        width: 400px;
        height: 3px;
        display: block;
        margin-bottom: 210px;

    }




    .p5{
        margin-left: 50px;
    }
    
    .p6{
        margin-left: 50px;
    }
    .card1 h5{
        margin-left: 100px;
    }
    .card2 h5{
        margin-left: 95px;

    }
    .card3 h5{
        margin-left: 100px;
    }
    .card4 h5{
        margin-left: 95px;

    }
    .accordion {
        width: 330px;
        margin: auto;
        height: 50px;
    
        font-family: Arial, sans-serif;
        background: #f8f9fa;
        margin-bottom: 150px;
    }

    .accordion-item {
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    
    .accordion-header {
        background :#02172e;
        color: white;
        padding: 7px;
        font-size: 9px;
        cursor: pointer;
        border: none;
        outline: none;
        width: 330px;
        height: 50px;
        text-align: left;
        transition: background 0.3s;
    }
    
    .accordion-header{
        font-size: 12px;
    }

    
}    
    
    
    


@media screen and (min-width:576px) and (max-width:767px) {


    .about-me{
        width: 25rem;
        margin-left: 50px;

    }
.card1{
    margin-left: 20px;
    margin-right: 10px;
    width: 480px;
    height: 3px;
    display: block; 
    margin-bottom: 210px;

}
    
  
    .card2{
        margin-left: 70px;
        margin-right: 10px;
        width: 480px;
        height: 3px;
        display: block;
        margin-bottom: 210px;


    }
    .card3{
        margin-left: 90px;
        margin-right: 10px;
        width: 480px;
        height: 3px;
        display: block;
        margin-bottom: 210px;
        
       

       
    }
    .card4{
        margin-left: 80px;
        margin-right: 10px;
        width: 480px;
        height: 3px;
        display: block;
        margin-bottom: 210px;

    }

    .p5{
        margin-left: 80px;
    }
    
    .p6{
        margin-left: 80px;
    }


    .accordion {
        width: 450px;
        margin: auto;
        height: 70px;    
        font-family: Arial, sans-serif;
        background: #f8f9fa;
        margin-bottom: 130px;
    }

    .accordion-item {
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    
    .accordion-header {
        background: #02172e;
        color: white;
        padding: 7px;
        font-size: 9px;
        cursor: pointer;
        border: none;
        outline: none;
        width: 450px;
        height: 70px;
        text-align: left;
        transition: background 0.3s;
    }
    
    .accordion-header{
        font-size: 16px;
    }
}


@media screen and (min-width: 768px) and (max-width:991px) {
    .card1{
        margin-left: 270px;
        margin-right: 20px;
        width: 480px;
        height: 3px;
        display: block;
        margin-bottom: 210px;
    
    }
        
      
    .card2{
        margin-left: 80px;
        margin-right: 10px;
        width: 480px;
        height: 3px;
        display: block;
        margin-bottom: 210px;

    }
        .card3{
            margin-left: 270px;
            margin-right: 20px;
            width: 480px;
            height: 3px;
            display: block;
            margin-bottom: 210px;
            
           
    
           
        }
        .card4{
            margin-left: 80px;
            margin-right: 10px;
            width: 480px;
            height: 3px;
            display: block;
            margin-bottom: 210px;
    
        }
        .card1 h5{
            margin-left: 30px;
        }
        .card2 h5{
            margin-left: 10px;
        }
    
        .p5{
            margin-left: 280px;
        }
        
        .p6{
            margin-left: 80px;
        }
    
    
        .accordion {
            width: 550px;
            margin: auto;
            height: 80px;
        
            font-family: Arial, sans-serif;
            background: #f8f9fa;
            margin-bottom: 150px;
        }
    
        .accordion-item {
            background: #fff;
            border-radius: 5px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        
        .accordion-header {
            background: #02172e;
            color: white;
            padding: 7px;
            font-size: 10px;
            cursor: pointer;
            border: none;
            outline: none;
            width: 550px;
            height: 80px;
            text-align: left;
            transition: background 0.3s;
        }
        
        .accordion-header{
            font-size: 20px;
        }

}

@media screen and (min-width:992px) and (max-width:1199px){
    .card1{
        margin-left: 570px;
        margin-right: 10px;
        width: 400px;
        height: 3px;
        display: block;
        margin-bottom: 210px;
    
    }
        
      
    .card2{
        margin-left: 80px;
        margin-right: 10px;
        width: 400px;
        height: 3px;
        display: block;
        margin-bottom: 210px;

    }
        .card3{
            margin-left: 570px;
            margin-right: 20px;
            width: 400px;
            height: 3px;
            display: block;
            margin-bottom: 210px;
            
           
    
           
        }
        .card4{
            margin-left: 80px;
            margin-right: 10px;
            width: 400px;
            height: 3px;
            display: block;
            margin-bottom: 210px;
    
        }
        .card1 h5{
            margin-left: 30px;
        }
        .card2 h5{
            margin-left: 10px;
        }
    
        .p5{
            margin-left: 580px;
        }
        
        .p6{
            margin-left: 80px;
        }
    
    
        .accordion {
            width: 650px;
            margin: auto;
            height: 90px;
        
            font-family: Arial, sans-serif;
            background: #f8f9fa;
            margin-bottom: 180px;
        }
    
        .accordion-item {
            background: #fff;
            border-radius: 5px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        
        .accordion-header {
            background: #02172e;
            color: white;
            padding: 7px;
            font-size: 10px;
            cursor: pointer;
            border: none;
            outline: none;
            width: 6ab50px;
            height: 90px;
            text-align: left;
            transition: background 0.3s;
        }
        
        .accordion-header{
            font-size: 25px;
        }
        .about-me{
            width: 25.5rem;
        }



}
@media screen and (min-width:1200px){
    .card1{
        margin-left: 510px;
        margin-right: 10px;
        width: 500px;
        height: 3px;
        display: block;
        margin-bottom: 210px;
    
    }
        
      
    .card2{
        margin-left: 70px;
        margin-right: 10px;
        width: 500px;
        height: 3px;
        display: block;
        margin-bottom: 200px;

    }
        .card3{
            margin-left: 570px;
            margin-right: 20px;
            width: 500px;
            height: 3px;
            display: block;
            margin-bottom: 210px;
            
           
    
           
        }
        .card4{
            margin-left: 70px;
            margin-right: 10px;
            width: 500px;
            height: 3px;
            display: block;
            margin-bottom: 210px;
    
        }
        .card1 h5{
            margin-left: 30px;
        }
        .card2 h5{
            margin-left: 10px;
        }
    
        .p5{
            margin-left:830px;
        }
        
        .p6{
            margin-left: 80px;
        }
    
    
        .accordion {
            width: 650px;
            margin: auto;
            height: 210px;
        
            font-family: Arial, sans-serif;
            background: #f8f9fa;
            margin-bottom: 180px;
        }
    
        .accordion-item {
            background: #fff;
            border-radius: 5px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        
        .accordion-header {
           background: #02172e;
    
            color: white;
            padding: 7px;
            font-size: 10px;
            cursor: pointer;
            border: none;
            outline: none;
            width: 650px;
            height: 90px;
            text-align: left;
            transition: background 0.3s;
        }
        
        .accordion-header{
            font-size: 25px;

}


}









